@media  (min-width: 1025px ) and (max-width: 1148px)
    .centre
        padding-left: calc(50vw - 512px)
        padding-right: calc(50vw - 512px)

    .catalog
        display: flex
        flex-direction: column
        align-items: center

        &__top
            margin-top: 20px

        &__position
            &:not(:last-child)
                margin-right: 19px

        &__adaptSize
            width: 232px
            height: 168px

        &__text
            width: 232px
            height: 168px

        &__bottom
            margin-top: 19px

        &__accImg
            width: 734px
            height: 116px

        &__textBottom
            width: 735px
            height: 116px

@media  ( max-width: 1024px )

    .centre
        padding-left: calc(50vw - 384px)
        padding-right: calc(50vw - 384px)

    .header
        &__left
            padding-left: 32px

        &__right
            padding-right: 32px

    .catalog
        display: flex
        flex-direction: column
        align-items: center

        &__top
            margin-top: 20px

        &__position
            &:not(:last-child)
                margin-right: 19px

        &__adaptSize
            width: 232px
            height: 168px

        &__text
            width: 232px
            height: 168px

        &__bottom
            margin-top: 19px

        &__accImg
            width: 734px
            height: 116px

        &__textBottom
            width: 735px
            height: 116px

    .product

        margin-top: 155px

        &__headText
            margin-top: 3px

        &__card
            gap: 16px
            margin-top: 72px
            margin-bottom: 32px

    .footer

        &__bott_text
            padding-left: 32px

        &__bott_link
            padding-right: 32px

        &__top
            margin-top: 65px
            flex-direction: column
            align-items: center
            &_position
                margin-top: 48px

                &:not(:last-child)
                    margin-right: 0px
                &:last-child
                    margin-bottom: 64px

        &__content
            height: 694px
            justify-content: center

            flex-direction: column

            &_position
                margin-top: 54px

            &_formPosition
                padding-right: 0
                margin-bottom: 140px
