@keyframes mainLogoRotateBW

    100%
        transform: rotate(-360deg)

@keyframes mainLogoRotateFW

    100%
        transform: rotate(360deg)

@keyframes logoSize

    0%
        transform: scale(1.1,1.1)
    100%
        transform: scale(1,1)

@keyframes promoLine

    0%
        transform: scaleY(0.1)
    100%
        transform: scaleY(1)

@keyframes promoText

    0%
        transform: scaleX(0)
    100%
        transform: scaleX(1)
