/* //////////PAGE Setting\\\\\\\\\\ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.centre {
  padding-left: calc(50vw - 570px);
  padding-right: calc(50vw - 570px);
}

/* //////////Header\\\\\\\\\\ */
.header {
  background-color: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  padding-left: 5px;
}

.header__right {
  padding-right: 5px;
}

.header__search_img {
  margin-left: 41px;
}

.header__right_img {
  margin-left: 34px;
}

/* //////////PromoBox\\\\\\\\\\ */
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
  background: rgba(113, 103, 105, 0.08);
}

.promo__left_img {
  width: 100%;
}

.promo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  background-color: #F1E4E6;
}

.promo__right_line {
  padding-left: 64px;
}

.promo__right_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  margin-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo__right_header {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__right_content {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.5px;
  color: #222222;
}

.promo__right_contentred {
  color: #F16D7F;
}

/* //////////CatalogBox\\\\\\\\\\ */
.catalog__top {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__position {
  position: relative;
}

.catalog__position:not(:last-child) {
  margin-right: 30px;
}

.catalog__text {
  position: absolute;
  height: 260px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: aliceblue;
}

.catalog__heading_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.catalog_heading_redtext {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #F16D7F;
}

.catalog__bott {
  margin-top: 30px;
}

.catalog__text_bott {
  position: absolute;
  height: 180px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: aliceblue;
  text-align: center;
}

/* //////////ProductBox\\\\\\\\\\ */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__head_header {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-top: 97px;
  text-align: center;
}

.product__head_text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  width: 336px;
}

.product__card {
  margin-top: 48px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.product__card_self:hover .product__card_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product__card_self:hover .product__add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__add_cart {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 188px;
  left: 110px;
  -webkit-box-shadow: 0 0 5px #FFFFFF;
          box-shadow: 0 0 5px #FFFFFF;
  display: none;
}

.product__add_cart:active {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
}

.product__card_self {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
}

.product__card_info {
  margin-top: 25px;
  padding-left: 16px;
  width: 328px;
}

.product__card_header {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__card_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
}

.product__card_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.product__button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product__button:hover {
  color: #FFFFFF;
}

.product__button_box {
  border: 1px solid #FF6A6A;
  height: 47px;
  width: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__button_box:hover {
  background-color: #F16D7F;
}

/* //////////Footer\\\\\\\\\\ */
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  background-color: #222224;
  height: 341px;
}

.footer__top_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top_position:not(:last-child) {
  margin-right: 30px;
}

.footer__top_header {
  margin-top: 28px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer__top_text {
  margin-top: 16px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  width: 360px;
  min-height: 34px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  background: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-image: url(img/footer_back.png);
}

.footer__content_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__person_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 360px;
  min-height: 99px;
  margin-top: 30px;
}

.footer__content_heading {
  text-align: center;
  width: 557px;
  min-height: 61px;
}

.footer__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.footer__content_form {
  margin-top: 32px;
}

.footer__content_email {
  width: 256px;
  height: 49px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  background-color: #E1E1E1;
  color: #222224;
  font-size: 14px;
  line-height: 17px;
  -webkit-padding-start: 22px;
          padding-inline-start: 22px;
  -webkit-padding-end: 22px;
          padding-inline-end: 22px;
}

.footer__content_button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
}

.footer__content_button:hover {
  background-color: #e05c6e;
}

.footer__bott {
  background-color: #222224;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bott_text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-left: 5px;
}

.footer__bott_link_box {
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7.3px;
}

.footer__bott_link_box:hover {
  background-color: #F16D7F;
}

.footer__bott_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bott_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bott_links:hover .footer__bott_links {
  fill: white;
}

/* //////////CATALOG PAGE\\\\\\\\\\ */
/* //////////Navi Box\\\\\\\\\\ */
.navi {
  height: 148px;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navi__header {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.navi__way_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.navi__way_link:hover {
  color: #F16D7F;
}

.navi__way_link:not(:last-child)::after {
  content: " / ";
}

.navi__way_link:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

/* //////////Product Box\\\\\\\\\\ */
.product__head_position {
  display: block;
}

.product__catalog_head {
  margin-bottom: 65px;
  margin-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__catalog_filter_text {
  margin-right: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.product__catalog_filter_box {
  position: relative;
  padding-left: 16px;
}

.product__catalog_filter_box:hover .product__catalog_filter_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__catalog_head_filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}

.product__catalog_filter_box:hover .product__catalog_filter_text {
  color: #EF5B70;
}

.product__catalog_filter_list {
  min-height: 531px;
  width: 360px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px -10px;
          box-shadow: 0 0 30px -10px;
  position: absolute;
  top: -13px;
  left: 0;
  display: none;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 46px;
  display: none;
}

.product__filter_header_box {
  color: #EF5B70;
  font-size: 14px;
  line-height: 17px;
  width: 327px;
  height: 37px;
  border-bottom: 1px solid #EF5B70;
  border-left: 5px solid #EF5B70;
  padding-left: 11px;
  line-height: 37px;
  margin-left: 17px;
}

.product__filter_header_box::-webkit-details-marker {
  display: none;
}

.product__filter_list_category {
  margin-bottom: 18px;
}

.product__filter_list_box {
  margin-top: 24px;
  margin-left: 34px;
}

.product__filter_link_box {
  list-style-type: none;
  margin-bottom: 11px;
}

.product__filter_links {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product__catalog_filter_iconRed {
  position: absolute;
  bottom: 3.5px;
  right: 0px;
}

.product__catalog_filter_icon {
  z-index: 1;
}

.product__catalog_filter_iconRed {
  opacity: 0;
}

.product__catalog_filter_box:hoverRed .product__catalog_filter_icon {
  z-index: 2;
  opacity: 1;
}

.product__catalog_filter_box:hover .product__catalog_filter_icon {
  opacity: 0;
}

.product__change_list {
  margin-left: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__change_element_header {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.product__change_element_img {
  margin-left: 10px;
  line-height: 17px;
}

.product__change_element_header::-webkit-details-marker {
  display: none;
}

.product__change_element {
  margin-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.product__change_element_box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px -5px;
          box-shadow: 0 0 10px -5px;
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 10;
  padding-top: 10px;
  padding-left: 10px;
}

.product__tranding_box_size {
  min-height: 100px;
  min-width: 132px;
}

.product__size_box_size {
  min-height: 103px;
  min-width: 79px;
}

.product__price_box_size {
  min-height: 103px;
  min-width: 180px;
}

.product__change_checkbox_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 6px;
}

.product__change_checkbox_checkbox {
  position: absolute;
  display: none;
}

.product__change_checkbox_text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-left: 10px;
}

.product__pagination {
  border: 1px solid #EBEBEB;
  height: 43px;
  width: 283px;
  margin: 48px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.pagination__coursor {
  padding: 0 17px;
}

.product__change_checkbox_checkbox + .input__decoration {
  position: relative;
  padding: 0 0 0 15px;
}

.product__change_checkbox_checkbox + .input__decoration :before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #EBEBEB;
}

.product__change_checkbox_checkbox:checked + .input__decoration :before {
  content: '\2714';
}

/* //////////PRODUCT PAGE\\\\\\\\\\ */
/* //////////preview box\\\\\\\\\\ */
.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preview__picture_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
}

.preview__picture {
  margin: 0 auto;
}

.preview__sliders {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__slider_icon:hover .preview__icon_color {
  fill: #F16D7F;
}

.preview__slider_icon {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__info_box {
  min-height: 600px;
  max-width: 1140px;
  border: 1px solid #EAEAEA;
  position: relative;
  z-index: 2;
  background-color: #FFFFFF;
  margin: -65px calc(50vw - 570px) 80px;
}

.preview__info_top_block {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.preview__info_main_header {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.preview__info_fat_line {
  width: 64px;
  border-bottom: 3px solid #EF5B70;
  margin-bottom: 12px;
}

.preview__info_product_header {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.preview__info_product_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
  width: 555px;
}

.preview__info_product_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px;
}

.preview__info_thin_line {
  border: 1px solid #EAEAEA;
  width: 641px;
}

.product__preview_change_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

.product__preview_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FF6A6A;
  height: 48px;
  width: 211px;
  margin: 0 auto;
}

.product__preview_button_text {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin-left: 22px;
  margin-right: 32px;
}

.product__preview_button:hover {
  background-color: #FF6A6A;
}

.product__preview_button:hover .product__preview_button_text {
  color: #FFFFFF;
}

.product__preview_button:hover .product__preview_button_icon {
  fill: #FFFFFF;
}

.video__test {
  padding-bottom: 10px;
  padding-right: 10px;
  opacity: 0.8;
}

.video__test:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.video__homepage {
  background-color: rgba(33, 22, 22, 0.7);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

/* //////////footer box\\\\\\\\\\ */
.footer__product_position {
  margin-top: 128px;
}

/* //////////CART PAGE\\\\\\\\\\ */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__card {
  margin-top: 96px;
}

.cart__card_self {
  position: relative;
  width: 652px;
  min-height: 306px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__card_self_img {
  height: 306px;
}

.cart__card_self_link {
  height: 306px;
  width: 262px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}

.cart__card_self_link:hover {
  opacity: 0.2;
}

.cart__card_self_info {
  margin-left: 32px;
  margin-top: 22px;
}

.cart__card_self_info_header {
  width: 262px;
  min-height: 58px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-align: left;
  margin-bottom: 42px;
}

.cart__card_self_info_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__card_self_info_value {
  margin-left: 6px;
}

.cart__card_self_info_priceColor {
  color: #F16D7F;
}

.cart__card_self_info_qPosition {
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  text-align: end;
  line-height: 24px;
  font-size: 22px;
}

.cart__card_self_closeIcon {
  margin-left: 57px;
  margin-top: 28px;
}

.cart__card_self_closeIcon:hover {
  fill: #F16D7F;
}

.cart__card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__card_button_style {
  width: 234px;
  height: 49px;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
}

.cart__card_button_style:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart__form {
  width: 360px;
  margin-top: 113px;
}

.cart__form_box_header {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__form_box_input {
  width: 360px;
  height: 44px;
  -webkit-padding-start: 17px;
          padding-inline-start: 17px;
  -webkit-padding-end: 17px;
          padding-inline-end: 17px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.cart__form_box_input:focus::-webkit-input-placeholder {
  color: transparent;
}

.cart__form_box_input_color::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart__form_box_button {
  margin-bottom: 24px;
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.cart__form_box_button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart__form_final {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart__form_final_preheader {
  min-width: 108px;
  padding-right: 34px;
  padding-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.cart__form_final_preheader_text {
  margin-right: 34px;
}

.cart__form_final_header {
  min-width: 170px;
  padding-right: 37px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__form_final_header_text {
  margin-right: 34px;
}

.cart__form_final_header_price {
  color: #F16D7F;
}

.cart__form_final_line {
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
  width: 275px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart__form_final_button {
  width: 273px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart__form_final_button:hover {
  background-color: #e05c6e;
}

/* //////////CHECKOUT PAGE\\\\\\\\\\ */
.checkout {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout__form_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.checkout__form_input {
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 44px;
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  margin-top: 20px;
}

.checkout__form_input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.checkout__form_radioButton {
  margin-top: 31px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__form_radioPosition {
  margin-right: 10px;
}

.checkout__form_radioText {
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.checkout__form_helpText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 360px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.checkout__form_button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}

.checkout__form_button:hover {
  background-color: #e05c6e;
}

.checkout__form_buttText {
  margin-right: 20px;
  line-height: 14px;
}

.checkout__text {
  max-width: 652px;
  margin-left: 64px;
}

.checkout__text_heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.checkout__text_info {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.checkout__text_list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
  list-style-type: none;
}

.checkout__text_listElements {
  margin-bottom: 16px;
}

.checkout__text_listElements::before {
  content: url(img/checkout/listMarker.svg);
  padding-right: 23px;
}

.footer__checkout_position {
  margin-top: 96px;
}
/*# sourceMappingURL=style.css.map */