/* //////////PAGE Setting\\\\\\\\\\ */

@import css/_vars
@import css/_keyframes

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

a
    text-decoration: none

.centre
    padding-left: calc(50vw - 570px)
    padding-right: calc(50vw - 570px)

/* //////////Header\\\\\\\\\\ */

.header
    background-color: #222222
    height: 75px
    display: flex
    justify-content: space-between
    align-items: center

    &__left
        padding-left: 5px

    &__right
        padding-right: 5px

    &__search_img
        margin-left: 41px

    &__right_img
        margin-left: 34px

        &:hover
            animation: logoSize 0.5s

    &__logo_img

        animation: mainLogoRotateBW 1s

        &:hover
            animation: mainLogoRotateFW 1s

/* //////////PromoBox\\\\\\\\\\ */

.promo
    display: flex
    padding-left: calc(50vw - 800px)
    padding-right: calc(50vw - 800px)
    background: rgba(113, 103, 105, 0.08)

    &__left_img
        width: 100%

    &__right
        display: flex
        align-items: center
        width: 800px
        background-color: #F1E4E6

    &__right_line
        padding-left: 64px
        animation: promoLine 1s

    &__right_text
        display: flex
        height: 92px
        margin-left: 16px
        flex-direction: column
        justify-content: flex-end
        animation: promoText 1s

    &__right_header

        font-weight: 900
        font-size: 48px
        line-height: 58px
        color: #222222

    &__right_content

        font-weight: 700
        font-size: 32px
        line-height: 38.5px
        color: #222222

    &__right_contentred
        color: $colorMainCheck

/* //////////CatalogBox\\\\\\\\\\ */

.catalog__top
    margin-top: 64px
    display: flex

.catalog__position
    position: relative

    &:not(:last-child)
        margin-right: 30px

.catalog__text
    position: absolute
    height: 260px
    width: 360px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    top: 0
    color: aliceblue

.catalog__heading_text
    font-weight: 300
    font-size: 16px
    line-height: 19px
    color: #FFFFFF
    text-align: center

.catalog_heading_redtext
    font-size: 24px
    line-height: 40px
    text-align: center
    font-weight: 700
    color: $colorMainCheck

.catalog__bott
    margin-top: 30px

.catalog__text_bott
    position: absolute
    height: 180px
    width: 1140px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    top: 0
    color: aliceblue
    text-align: center

/* //////////ProductBox\\\\\\\\\\ */

.product
    display: flex
    flex-direction: column
    align-items: center

    &__head_header
        font-size: 30px
        line-height: 36px
        color: #222222
        margin-top: 97px
        text-align: center

    &__head_text
        font-size: 14px
        line-height: 17px
        color: #9F9F9F
        align-items: center
        margin-top: 6px
        width: 336px

    &__card
        margin-top: 48px
        margin-bottom: 48px
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 30px

    &_

    &__card_self:hover .product__card_img
        filter: brightness(50%)

    &__card_self:hover .product__add_cart
        display: flex

    &__add_cart
        font-size: 14px
        line-height: 17px
        color: #FFFFFF
        border: 1px solid #FFFFFF
        width: 138px
        height: 43px
        display: flex
        justify-content: space-around
        align-items: center
        position: absolute
        top: 188px
        left: 110px
        box-shadow: 0 0 5px #FFFFFF
        display: none

    &__add_cart:active
        background-color: rgba(255, 255, 255, 0.2)
        box-shadow: 0 0 10px #FFFFFF

    &__card_self
        position: relative
        display: flex
        flex-direction: column
        align-items: end
        width: 360px
        height: 581px
        background-color: #F8F8F8

    &__card_info
        margin-top: 25px
        padding-left: 16px
        width: 328px

    &__card_header
        font-size: 13px
        line-height: 16px
        color: #000000

    &__card_text
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #5D5D5D
        margin-top: 12px

    &__card_price
        font-size: 16px
        line-height: 19px
        color: $colorMainCheck
        margin-top: 18px

    &__button
        font-size: 16px
        line-height: 19px
        color: #F26376

    &__button:hover
        color: #FFFFFF

    &__button_box
        border: 1px solid #FF6A6A
        height: 47px
        width: 211px
        display: flex
        justify-content: center
        align-items: center

    &__button_box:hover
        background-color: $colorMainCheck

/* //////////Footer\\\\\\\\\\ */

.footer

    &__top
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 95px
        background-color: #222224
        height: 341px

        &_position
            display: flex
            flex-direction: column
            align-items: center

        &_position:not(:last-child)
            margin-right: 30px

        &_header
            margin-top: 28px
            text-align: center
            font-size: 20px
            line-height: 24px
            color: #FBFBFB

        &_text
            margin-top: 16px
            text-align: center
            font-weight: 300
            font-size: 14px
            line-height: 17px
            color: #FBFBFB
            width: 360px
            min-height: 34px

    &__content
        display: flex
        justify-content: space-between
        align-items: center
        height: 448px
        background: no-repeat
        background-position: center bottom
        background-size: cover
        background-image: url(img/footer_back.png)

        &_position
            display: flex
            flex-direction: column
            align-items: center

    &__person_text
        font-weight: 400
        font-size: 20px
        line-height: 24px
        text-align: center
        width: 360px
        min-height: 99px
        margin-top: 30px

    &__content_heading
        text-align: center
        width: 557px
        min-height: 61px

    &__heading
        font-weight: 700
        font-size: 24px
        line-height: 40px
        text-align: center

    &__text
        font-weight: 400
        font-size: 18px
        line-height: 30px
        text-align: center

    &__content_form
        margin-top: 32px

    &__content_email
        width: 256px
        height: 49px
        border-top-left-radius: 25px
        border-bottom-left-radius: 25px
        border: 0
        background-color: #E1E1E1
        color: #222224
        font-size: 14px
        line-height: 17px
        padding-inline-start: 22px
        padding-inline-end: 22px

    &__content_button
        width: 100px
        height: 49px
        border-top-right-radius: 25px
        border-bottom-right-radius: 25px
        border: 0
        background-color: $colorMainCheck
        color: #FFFFFF
        font-size: 14px
        line-height: 17px

        &:hover
            background-color: $colorMainHover

    &__bott
        background-color: #222224
        height: 79px
        display: flex
        justify-content: space-between
        align-items: center

        &_text
            font-size: 16px
            line-height: 19px
            color: #FBFBFB
            padding-left: 5px

        &_link_box
            height: 32px
            width: 32px
            background-color: #FFFFFF
            border: 0
            display: flex
            justify-content: center
            align-items: center
            margin-left: 7.3px

            &:hover
                background-color: $colorMainCheck

        &_link
            display: flex

        &_links
            display: flex
            justify-content: center
            align-items: center

            &:hover .footer__bott_links
                fill: white

/* //////////CATALOG PAGE\\\\\\\\\\ */

@import css/_catalog

/* //////////PRODUCT PAGE\\\\\\\\\\ */

@import css/_product

/* //////////CART PAGE\\\\\\\\\\ */   

@import css/_cart

/* //////////CHECKOUT PAGE\\\\\\\\\\ */ 

@import css/_checkout
